.collection-container {
    width: 75%;
    margin: 0 auto;
}

.select-container-wrapper {
    margin: 5rem 0;
    text-align: center;
}

.select-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 0.5rem;
    padding: 1rem 0;
}

@media (max-width: 650px) {
    .select-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}
