.nft-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
    width: 75%;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.left-panel,
.right-panel {
    margin: 1rem;
}

/* LEFT PANEL */

.left-panel {
    background-color: #333;
}

.nft-tag {
    min-height: 20px;
    background-color: #222;
    padding: 0.5rem 2rem;
}

.nft-img {
    width: 60vmin;
    margin: 0 5rem;
    vertical-align: middle;
}

.nft-id {
    font-family: "Fira Sans", sans-serif;
    font-size: 2rem;
}

/* RIGHT PANEL (ATTRIBUTES) */

.right-panel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 0.5rem;
    width: 100%;
}

.attribute {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem;
    border: 1px solid #333;
    border-radius: 0.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.attribute:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.trait-value {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.rarity {
    font-size: 0.7rem;
    text-transform: capitalize;
}

.mythic {
    color: goldenrod;
}
.legendary {
    color: #b10dc9;
}
.epic {
    color: #ff4136;
}
.rare {
    color: #0074d9;
}
.uncommon {
    color: #2ecc40;
}
.common {
    color: #ccc;
}

/* INFORMATION */

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rank {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 1rem 0;
}

.rank strong {
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem 0;
}

/* SKELETON */

.image-container .top-img {
    height: 500px;
    width: 500px;
    margin: 0 5rem;
}

.nft-container .skeleton-content {
    width: 100%;
    justify-content: space-between;
}