.mosaic-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    gap: 0.5rem;
}

.mosaic-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.thumbnail {
    position: relative;
}

.thumbnail img {
    width: 100%;
    vertical-align: middle;
}

.thumbnail img:hover {
    filter: brightness(105%);
}

.tag {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 100%);
    padding: 0.3rem;
    border-radius: 0.2rem;
    background-color: var(--tp-dark);
    color: #0074d9;
    z-index: 999;
    width: 150%;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
}
