h1 {
    color: var(--primary);
}

/* LANDING */

.landing {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./../../assets/landing.jpg");
    user-select: none;
}

.landing h1 {
    font-size: 5rem;
    text-align: center;
}

.learn-more {
    border: 1px solid var(--light);
    background: rgba(17, 17, 17, 0.5);
    margin: 3rem 0;
    padding: 0.5rem;
}

/* MAIN CONTAINER */

.main-container {
    width: 90%;
    margin: 0 auto;
}

#about,
#mint,
#roadmap,
#faq {
    margin: 2rem 0;
}

/* ABOUT */

.about-container {
    display: flex;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
}

.left p {
    margin: 1rem 0;
}

.left,
.right {
    width: 50%;
    padding: 2rem;
}

.right img {
    width: 100%;
}

/* MINT */

#mint {
    width: 100%;
    margin: 0 auto;
}

.mint-container {
    display: flex;
    align-items: center;
}

/* FAQ */

#faq {
    margin-bottom: 5rem;
    padding: 0 2rem;
}

.faq-item {
    background-color: #222;
    margin: 0.5rem;
}

.question,
.answer {
    padding: 1rem;
}

.answer {
    display: none;
}

.active .answer {
    display: block;
}

/* ROADMAP */

#roadmap {
    display: flex;
}

#roadmap .left,
#roadmap .right {
    padding: 0 2rem;
}

.tier {
    margin: 2rem 0;
}

.milestone {
    color: var(--primary);
}

/* TWITTER FEED */

.twitter-feed {
    display: grid;
    place-items: center;
    margin: 1rem 0;
}

/* MEDIA QUERIES */

@media (max-width: 900px) {
    .about-container,
    .mint-container,
    #roadmap {
        flex-direction: column;
    }

    .left,
    .right {
        width: 100%;
    }

    .mint-container {
        flex-direction: column-reverse;
    }

    .landing h1 {
        font-size: 4rem;
        text-align: center;
    }
}

@media (max-width: 650px) {
    nav {
        display: none;
    }
}