.trading-container {
    width: 85%;
    margin: 5rem auto 0;
}

.trading-container > div {
    margin: 3rem 0;
    padding: 1rem;
    border: 1px solid #333;
}

h3 {
    padding-bottom: 2rem;
}

/* STATS */

.stats-container {
    display: flex;
    justify-content: space-around;
}

/* INSTRUCTIONS */

.instructions-container-wrapper > div {
    margin: 1rem 0;
    /* text-align: center; */
}

/* FAQ */

.faq-item {
    cursor: url("../../assets/pointer.png"), auto;
}
