:root {
    --dark: #111;
    --light: #eee;
    --primary: #ffdc00;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

html {
    scroll-behavior: smooth;
    overflow: scroll;
    overflow-x: hidden;
}

body {
    background-color: var(--dark);
    color: var(--light);
    font-family: "Jura", sans-serif;
    font-size: 1.4rem;
    cursor: url("./assets/cursor.png"), auto;
}

a {
    text-decoration: none;
    cursor: url("./assets/pointer.png"), auto;
    color: var(--light);
}

footer {
    font-size: 1rem;
    text-align: center;
}

.primary {
    color: var(--primary);
}
