:root {
    --dark: #111;
    --darker: #000;
    --light: #eee;
    --primary: #ffdc00;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

html {
    scroll-behavior: smooth;
    overflow: scroll;
    overflow-x: hidden;
}

body {
    background-color: var(--dark);
    color: var(--light);
    font-family: "Jura", sans-serif;
    font-size: 1.4rem;
    cursor: url("./assets/cursor.png"), auto;
}

a {
    text-decoration: none;
    cursor: url("./assets/pointer.png"), auto;
    color: var(--light);
}

.primary {
    color: var(--primary);
}

main {
    min-height: 95vh;
    display: grid;
    place-items: center;
}

.custom-button {
    margin: .5rem auto 2rem;
    width: fit-content;
    padding: 0.25rem .5rem;
    border: 1px solid var(--light);
    border-radius: .25rem;
    cursor: url("./assets/pointer.png"), auto;
}
