.collection-container {
    width: 85%;
    margin: 0 auto;
}

.select-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 0.25rem;
    margin: 5rem;
}