.collection-container {
    width: 75%;
    margin: 0 auto;
}

.select-container-wrapper {
    margin: 5rem 0;
    text-align: center;
}

.select-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 0.25rem;
    padding: 1rem 0;
}

.load-more-button {
    margin: .5rem auto 2rem;
    width: fit-content;
    padding: 0.25rem .5rem;
    border: 1px solid var(--light);
    border-radius: .25rem;
    cursor: url("./../../assets/pointer.png"), auto;
}
